if PROSPECTOR_STATUS_SCREEN_BONGO

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
    select LV_USE_LABEL
    select LV_USE_IMAGE

config ZMK_WPM
    default y

config LV_Z_MEM_POOL_SIZE
    default 20000

endif
